@import "tailwindcss";

@theme {
  --color-business-moonstone: #43bccd;
  --color-business-black: #1a202c;
  --color-business-black-100: #272f3f;
  --shadow-moonstone: 0px 3px 5px 1px
    color-mix(
      in oklab,
      var(--color-business-moonstone) /* #43bccd */ 60%,
      transparent
    );
  --drop-shadow-moonstone: 0 0 0.75rem #43bccd;
}
